<ion-list>
  <ion-item lines="none">
    <ion-label class="ion-text-center">
      Sort By
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">
      {{config.language.Recommended}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="primary" class="ion-text-center">
      {{config.language.BestSelling}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">
      {{config.language.LowtoHigh}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">
      {{config.language.HightoLow}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">
      {{config.language.Newest}}
    </ion-label>
  </ion-item>
</ion-list>