<!-- -------------------------------------- For Header ---------------------------------- -->
<ion-header>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-no-padding" size="3">
          <ion-segment [(ngModel)]="segments" mode="ios" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="dashboard">
              <ion-label color="primary" class="ion-no-margiin">Dashboard</ion-label>
              <ion-icon color="primary" name="home"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="pos">
              <ion-label color="primary" class="ion-no-margiin">Point Of Sale</ion-label>
              <ion-icon color="primary" name="paper-plane"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col size="8" class="ion-align-self-center">
          <ion-title color="primary" class="ion-text-center">
            <ion-icon name="logo-python"></ion-icon>
            <ion-label>
              {{config.language.RMS}}
            </ion-label>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item slot="secondary" lines="none">
      <ion-avatar slot="start">
        <img src="assets/maleAvatar.png" fallback="assets/maleAvatar.png" />
      </ion-avatar>
      <ion-label>
        <h3 style="color:white;">Mr. Mark White</h3>
        <p class="ion-text-center">Cashier</p>
      </ion-label>
      <!-- <ion-label>
        <h3 style="color:white;">LOG OUT</h3>
      </ion-label> -->
    </ion-item>
    <ion-item slot="secondary" lines="none">
      <ion-icon style="color: white; zoom: 1.2;" name="log-out-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header><!-- ----------------------------------------- For Main Content ----------------------------------- -->
<ion-content class="point-of-sale-css ion-no-padding">
  <form [formGroup]="form" #formControl>
    <ion-grid>
      <ion-row>
        <!-- ------------------------ For Top Selling Item Sliders --------------------------- -->
        <ion-col size-xs=" 12" size-sm="6" size-md="6" size-lg="12" size-xl="12">
          <!-- --------------------- Top Selling Item Component Called ----------------------- -->
          <app-top-selling-items></app-top-selling-items>
        </ion-col>

        <!-- -------------- For General/Touch Segment And Online Orders And Operation Buttons -------------- -->
        <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="2.5" size-xl="2" class="left-side-scroll"
          style="border: solid; border-color: gainsboro;">
          <!-- ---------------------------------- For General/Tocuh Module Segment ------------------------- -->
          <ion-item lines=none class="segment-btn">
            <ion-segment formControlName="mode" (ionChange)="saleModeChange()" mode="ios">
              <ion-segment-button value="touch">
                <ion-icon color="primary" name="color-palette-outline"></ion-icon>
                <ion-label color="primary" class="mt-2 mb-0">Touch</ion-label>
              </ion-segment-button>
              <ion-segment-button value="general">
                <ion-icon color="primary" name="apps-outline"></ion-icon>
                <ion-label color="primary" class="mt-2 mb-0">General</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-item>
          <!-- ----------------------------------- Online Orders Component Called -------------------------- -->
          <app-online-orders></app-online-orders>
          <!-- ------------------------------------- For Operational Buttons ------------------------------- -->
          <ion-button class="operation-btn btn-hov">Sale Return
          </ion-button>
          <ion-button class="operation-btn btn-hov">Till Cash
          </ion-button>
          <ion-button class="operation-btn btn-hov">Cash Drop
          </ion-button>
        </ion-col>

        <ion-col class="ion-no-padding" size-xs="12" size-md="12" size-lg="9.5" size-xl="8"
          style="border: solid; border-color: gainsboro;">

          <!-- ------------------------------------ For General Mode ---------------------------- -->
          <app-general-module *ngIf="slectedGeneral" [form]="form"></app-general-module>
          <!-- ------------------------------------- For Touch Mode ----------------------------- -->
          <app-touch-module *ngIf="!slectedGeneral" [form]="form"></app-touch-module>
          <!-- ---------------------------------- For Sale Operation Button --------------------- -->

          <!-- ------------------------------------------- For Bottom Opetions ------------------------------------- -->
          <app-sale-operations [form]="form"></app-sale-operations>

        </ion-col>

        <!-- --------------------------- For Customer Information And Invoice Details --------------------- -->
        <ion-col class="bg-grad" size-xs="12" size-md="12" size-lg="12" size-xl="2"
          style="border: solid; border-color: gainsboro; height: 101%;">
          <app-customer-information [form]="form"></app-customer-information>

          <!-- ----------------------------------- For Invoice Total -------------------------------------- -->
          <ion-row tabindex="-1" class="ion-no-padding total-price">
            <ion-col size="12" class="ion-no-padding">
              <ion-card class="bg-grad-inv ion-no-margin ion-text-center">
                <label style="float: none; font-size: 18px;" class="lblstxT ion-no-padding">Inovice
                  Total ($)</label>
                <ion-input [value]="form.get('invoiceTotal').value | number:'1.2-2'" class="ion-no-padding lblInput"
                  readonly="true" type="text">
                </ion-input>
              </ion-card>
            </ion-col>
            <ion-col size="12">
              <ion-card class="top-item-card">
                <ion-item lines="none">
                  <ion-icon class="gift-icon" name="gift-outline"></ion-icon>
                  <ion-label>
                    <h6 class="toper-item">Customer Loyalty</h6>
                    <p class="price-del">750 Reward Points </p>
                    <p>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </p>
                  </ion-label>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- ---------------------------------------- For Row-2 -------------------------------------- -->

    </ion-grid>
  </form>
</ion-content>