<ion-app [class.rtl]="config.direction == 'rtl'" [class.default-theme]="config.appTheme=='default'"
  [class.default1-theme]="config.appTheme=='default1'" [class.default2-theme]="config.appTheme=='default2'"
  [class.default3-theme]="config.appTheme=='default3'" [class.default4-theme]="config.appTheme=='default4'"
  [class.default5-theme]="config.appTheme=='default5'" [class.default6-theme]="config.appTheme=='default6'"
  [class.default7-theme]="config.appTheme=='default7'" [class.default8-theme]="config.appTheme=='default8'"
  [class.default9-theme]="config.appTheme=='default9'" [class.default10-theme]="config.appTheme=='default10'"
  [class.default11-theme]="config.appTheme=='default11'" [class.default12-theme]="config.appTheme=='default12'"
  [class.default13-theme]="config.appTheme=='default13'" [class.default14-theme]="config.appTheme=='default14'"
  [class.default15-theme]="config.appTheme=='default15'" [class.dark-theme]="config.darkMode=='true'"
  [class.light-theme]="config.darkMode=='false'">
  <!-- <ion-split-pane contentId="main-content"> -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>