form {
    ion-row {
        ion-col {
            ion-label {
                font-size: 12px !important;
                color: var(--ion-color-primary-contrast);
                width: 100%;
                font-weight: 600;
                margin-bottom: 0;
            }
            ion-textarea {
                font-size: 12px;
                background-color: white;
                margin: 0;
                border-radius: 7px;
            }
            ion-input {
                height: 22px !important;
                width: 100%;
                font-size: 12px;
                background: white;
            }
            label {
                font-size: 13px !important;
                width: 100%;
                font-weight: 600;
                margin-bottom: 0;
            }
        }
    }
}
