<!-- ------------------------------------------- For Bottom Opetions ------------------------------------- -->
<ion-row tabindex="-1">
  <ion-col>
    <ion-button fill="outline" (click)="holdSale()" class="operationalBtn btn-hov">Hold Sale
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" (click)="retriveSale()" class="operationalBtn btn-hov">Retrives Sale
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" (click)="cancallSale()" class="operationalBtn btn-hov">Cancal Sale
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" (click)="reverseScan()" class="operationalBtn btn-hov">Reverse Scan
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" (click)="priceCheck()" class="operationalBtn btn-hov">Price Check
    </ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" (click)="checkOutSale()" class="operationalBtn btn-hov">Check Out
    </ion-button>
  </ion-col>
</ion-row>